// Colors
$color-primary-violet: #674baf;
$color-primary-magenta: #e882e8;

// Media
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 1440px) {
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
